<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>ON ROAD VEHICLE ASSISTANCE</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicons -->
  <link href="static/assets/img/favicon.png" rel="icon">
  <link href="static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="static/assets/css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Green
  * Template URL: https://bootstrapmade.com/green-free-one-page-bootstrap-template/
  * Updated: Aug 07 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body class="index-page">

  <header id="header" class="header sticky-top">

    <div class="topbar d-flex align-items-center accent-background">
      <div class="container d-flex justify-content-center justify-content-md-between">
        <div class="contact-info d-flex align-items-center">
          <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:contact@example.com">contact@example.com</a></i>
          <i class="bi bi-phone d-flex align-items-center ms-4"><span>+1 5589 55488 55</span></i>
        </div>
        <div class="social-links d-none d-md-flex align-items-center">
          <a href="#" class="twitter"><i class="bi bi-twitter-x"></i></a>
          <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
          <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
          <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
        </div>
      </div>
    </div><!-- End Top Bar -->

    <div class="branding d-flex align-items-cente">

      <div class="container position-relative d-flex align-items-center justify-content-between">
        <a href="index.html" class="logo d-flex align-items-center">
          <!-- Uncomment the line below if you also wish to use an image logo -->
          <!-- <img src="static/assets/img/logo.png" alt=""> -->
          <h1 class="sitename">ON ROAD VEHICLE ASSISTANCE</h1>
        </a>

        <nav id="navmenu" class="navmenu">
          <ul>
            <li><a href="/adminHome" class="active">Home</a></li>
            <li><a href="/adminCust">Customers</a></li>
            <li><a href="/adminMech">Mechanic</a></li>
            <li><a href="/adminBookings">Bookings</a></li>
            <li><a href="/adminAmbulance">Ambulance</a></li>
            <li><a href="/adminFire">Fire Fighters</a></li>
            <li><a href="/adminReport">Report</a></li>
            <li><a href="/adminFeedback">Feedback</a></li>
            <li><a href="/login">Logout</a></li>
            
          </ul>
          <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>

      </div>

    </div>

  </header>

  <main class="main">

    
    
    
    


    

    

    <!-- Contact Section -->
    <section id="contact" class="contact section">
       
      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>FEEDBACK</h2>
    
      </div><!-- End Section Title -->
      


      <center>
        <div style="margin: 0 122px">
          <table class="table table-success table-hover table-striped">
            <tr>
              <th>DATE</th>
              <th>CUSTOMER</th>
              <th>MECHANIC</th>
              <th>FEEDBACK</th>
            </tr>
            {% for i in feed %}
            <tr>
              <td>{{i.date}}</td>
              <td>{{i.booking.customer.name}}</td>
              <td>{{i.booking.mechanic.name}}</td><td>{{i.feedback}}</td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </center>
      
      




      <!-- <center>
        <div style="margin: 0 122px">
          <table class="table table-secondary table-hover table-striped">
            <tr>
                <th>DATE</th>
                <th>CUSTOMER</th>
                <th>MECHANIC</th>
                <th>LOCATION</th>
                <th>STATUS</th> 
                <th>AMOUNT</th> 
            </tr>
            {% for i in data %}
            <tr>
                <td>{{i.date}}</td>
                <td>{{i.customer.name}}</td>
                <td>{{i.mechanic.name}}</td>
                <td><iframe src = 'https://maps.google.com/maps?q={{i.lat}},{{i.lon}}&hl=es;z=14&amp;output=embed' min-width='500px'></iframe></td>
                <td>{{i.status}}</td>
                <td>{{i.rate}}</td>
                
                    

            </tr>
            {% endfor %}

        </table>
        </div>
        
      </center>
       -->

      <div class="container" data-aos="fade-up" data-aos-delay="100" enctype="multipart/form-data">

        
          <!-- <div class="col-lg-12">
            <form action="" method="post" class="" data-aos="fade-up" data-aos-delay="200" >
              {% csrf_token %}
              <div class="row gy-4">

                <div class="col-md-6">
                  <label for="name-field" class="pb-2">Your Name</label>
                  <input type="text" name="name" id="name-field" class="form-control" required="" pattern="[A-Za-z]{,}">
                </div>

                <div class="col-md-6">
                  <label for="email-field" class="pb-2">Your Email</label>
                  <input type="email" class="form-control" name="email" id="email-field" required="">
                </div>

                <div class="col-md-6">
                  <label for="subject-field" class="pb-2">Phone</label>
                  <input type="text" class="form-control" name="phone" id="subject-field" required="" pattern="[6789][0-9]{9}" maxlength="10" type="tel">
                </div>

                <div class="col-md-6">
                  <label for="subject-field" class="pb-2">Password</label>
                  <input type="password" class="form-control" name="password" id="subject-field" required="" pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters">
                </div>

                <div class="col-md-12">
                  <label for="message-field" class="pb-2">Address</label>
                  <textarea class="form-control" name="address" rows="3" id="message-field" required=""></textarea>
                </div>

                <div class="col-md-12 text-center">
                  

                  <button type="submit">Register</button>
                </div>

              </div>
            </form>
          </div> -->
          
          <!-- End Contact Form -->

        </div>

      </div>

    </section><!-- /Contact Section -->

  </main>

  <footer id="footer" class="footer dark-background">

    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-about">
          <a href="index.html" class="logo d-flex align-items-center">
            <span class="sitename">ON ROAD VEHICLE ASSISTANCE</span>
          </a>
          <p>Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita valies darta donna mare fermentum iaculis eu non diam phasellus.</p>
          <div class="social-links d-flex mt-4">
            <a href=""><i class="bi bi-twitter-x"></i></a>
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-instagram"></i></a>
            <a href=""><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Terms of service</a></li>
            <li><a href="#">Privacy policy</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><a href="#">Web Design</a></li>
            <li><a href="#">Web Development</a></li>
            <li><a href="#">Product Management</a></li>
            <li><a href="#">Marketing</a></li>
            <li><a href="#">Graphic Design</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Contact Us</h4>
          <p>A108 Adam Street</p>
          <p>New York, NY 535022</p>
          <p>United States</p>
          <p class="mt-4"><strong>Phone:</strong> <span>+1 5589 55488 55</span></p>
          <p><strong>Email:</strong> <span>info@example.com</span></p>
        </div>

      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p>© <span>Copyright</span> <strong class="px-1 sitename">Green</strong> <span>All Rights Reserved</span></p>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you've purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>

  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  

  <!-- Vendor JS Files -->
  <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets/vendor/php-email-form/validate.js"></script>
  <script src="static/assets/vendor/aos/aos.js"></script>
  <script src="static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
  <script src="static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>

  <!-- Main JS File -->
  <script src="static/assets/js/main.js"></script>



  

</body>

</html>